.list{
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    flex-wrap: wrap;
    list-style: none;
  background-color: #e9d8ff;
  justify-content: center;
  align-items: center;
}

