.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.button {
  display: block;
  padding: 10px;
  background-color: #c52c2c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #841c1c;
}
